<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<p id="notice"><%= notice %></p>

<h1>Bem vindo ao Inncurrency,</h1>
<h2>Sua plataforma de conversão de moedas.</h2>

<br>
<h3>Escolha sua moeda</h3>
<!--<%= link_to 'Dólar (USD)', new_conversor_path, :class => "btn btn-primary" %>
<%= link_to 'Euro (EUR)', new_conversor_path, :class => "btn btn-success" %>
<%= link_to 'Peso Argentino (ARS)', new_conversor_path, :class => "btn btn-warning" %>-->
<button type="button" name="button1" class="btn btn-info" onclick="get_coin('USD')">Dólar (USD)</button>
<button type="button" name="button2" class="btn btn-success" onclick="get_coin('EUR')">Euro (EUR)</button>
<button type="button" name="button3" class="btn btn-warning" onclick="get_coin('ARS')">Peso Argentino (ARS)</button>

<div id="container">

</div>
